<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://github.com/hamidabdul1994/angular2_to_do_app" target="_top">MEAN Stack on Angular 2</a>
    </p>
    <p>
        <a href="https://about.me/hamid.noori" target="_top">Hamid Raza Noori</a>
    </p>
</div>